<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>Finapp</title>
    <meta name="description" content="Finapp HTML Mobile Template">
    <meta name="keywords"
        content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="icon" type="image/png" href="../static/assets/img/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/img/icon/192x192.png">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="manifest" href="__manifest.json">
</head>

<body>

    
    <!--<div id="loader">
        <img src="../static/assets/img/loading-icon.png" alt="icon" class="loading-icon">
    </div> -->
    


    <!-- App Capsule -->
    <div id="appCapsule">
        <!-- Transactions -->
        <div class="section mt-4">
            <div class="section-heading">
                <h2 class="title">Account Info</h2>
			</div>
			<!-- Data Assets -->
                
            <div class="transactions">
				<a class="item">
				<div class="left">
					<div class="price text-black">Balance USDT&nbsp; &nbsp;</div>
					<div class="price text-black">Equity USDT&nbsp; &nbsp;</div>
					<div class="price text-black">Equity IDR&nbsp; &nbsp;</div>
					<div class="price text-black">----------</div>
					<div class="price text-black">Profit USDT&nbsp; &nbsp;</div>
					<div class="price text-black">Profit IDR&nbsp; &nbsp;</div>
				</div>
			
				<div class="left">
					<div class="price text-black">:&nbsp; &nbsp;</div>
					<div class="price text-black">:&nbsp; &nbsp;</div>
					<div class="price text-black">:&nbsp; &nbsp;</div>
					<div class="price text-black">&nbsp; &nbsp;</div>
					<div class="price text-black">:&nbsp; &nbsp;</div>
					<div class="price text-black">:&nbsp; &nbsp;</div>
				</div>
				<div class="right">
					<div class="price text-black">$ {{ total_modal }}</div>
					<div class="{% if total_profit_usdt|float > 0 %}price text-success{% elif total_profit_usdt|float < 0 %}price text-danger{% endif %}"> $ {{ total_usdt }}&nbsp; &nbsp;</div>
					<div class="{% if total_profit_usdt|float > 0 %}price text-success{% elif total_profit_usdt|float < 0 %}price text-danger{% endif %}"> Rp. {{ total_idr }}&nbsp; &nbsp;</div>
					<div class="price text-black">-------------&nbsp; &nbsp;</div>
					<div class="{% if total_profit_usdt|float > 0 %}price text-success{% elif total_profit_usdt|float < 0 %}price text-danger{% endif %}"> $ {{ total_profit_usdt }}&nbsp; &nbsp;
					</div>
					<div class="{% if total_profit_usdt|float > 0 %}price text-success{% elif total_profit_usdt|float < 0 %}price text-danger{% endif %}"> Rp. {{ total_profit_idr }}&nbsp; &nbsp;
					</div>
					<div class="price text-black"></div>
				</div>
                </a>
				<div class="section-heading">
					<h2 class="title">Data Assets</h2>
				</div>
				{% for item in data %}
				<a class="item">
				<div class="left">
					<div class="price text-black">Aset</div>
					<div class="price text-black">Qty&nbsp; &nbsp;</div>
					<div class="price text-black">Harga&nbsp; &nbsp;</div>
					<div class="price text-black">Equity $&nbsp; &nbsp;</div>
					<div class="price text-black">Equity IDR&nbsp; &nbsp;</div>
					<div class="price text-black">Modal&nbsp; $&nbsp;</div>
					<div class="price text-black">Profit&nbsp; $&nbsp;</div>
					<div class="price text-black">Profit&nbsp; IDR&nbsp;</div>
				</div>
			
				<div class="left">
					<div class="price text-black">:</div>
					<div class="price text-black">:&nbsp; &nbsp;</div>
					<div class="price text-black">:&nbsp; &nbsp;</div>
					<div class="price text-black">:&nbsp; &nbsp;</div>
					<div class="price text-black">:&nbsp; &nbsp;</div>
					<div class="price text-black">:&nbsp;</div>
					<div class="price text-black">:&nbsp;</div>
					<div class="price text-black">:&nbsp;</div>
				</div>
				<div class="right">
					<div class="price text-black">{{ item.asset }}</div>
					<div class="price text-black">{{ item.total }}&nbsp; &nbsp;</div>
					<div class="price text-black">$ {{ item.price }}&nbsp; &nbsp;</div>
					<div class="price text-black">$ {{ item.usdt_value }}&nbsp; &nbsp;</div>
					<div class="price text-black">Rp. {{ item.idr_value }}&nbsp; &nbsp;</div>
					<div class="price text-black">$ {{ item.modal }}&nbsp; &nbsp;</div>
					<div class="{% if item.profit_usdt|float > 0 %}price text-success{% elif item.profit_usdt|float < 0 %}price text-danger{% endif %}"> $ {{ item.profit_usdt }}&nbsp; &nbsp; </div>
					<div class="{% if item.profit_usdt|float > 0 %}price text-success{% elif item.profit_usdt|float < 0 %}price text-danger{% endif %}"> Rp. {{ item.profit_idr }}&nbsp; &nbsp; </div>
				</div>
                </a>
				{% else %}
                <a class="item">
                    <div class="detail">
                        <div>Tidak ada data portfolio</div>
                    </div>
                </a>
                {% endfor %}
			</div>
		  
</div>
        <!-- * Transactions -->

        <!-- my cards -->        <!-- * my cards -->

        <!-- Send Money -->        <!-- * Send Money -->

        <!-- Monthly Bills -->        <!-- * Monthly Bills -->


        <!-- Saving Goals -->        <!-- * Saving Goals -->


        <!-- News -->        <!-- * News -->


        <!-- app footer -->
        <div class="appFooter">
            <div class="footer-title">
                Copyright © ARSystem 2025. All Rights Reserved.
            </div>
            Thohir Seggaf Aljuffrie, S.T.
        </div>
        <!-- * app footer -->

    </div>
    <!-- * App Capsule -->


    <!-- App Bottom Menu -->    <!-- * App Bottom Menu -->

    <!-- App Sidebar -->    <!-- * App Sidebar -->



    <!-- iOS Add to Home Action Sheet -->    <!-- * iOS Add to Home Action Sheet -->


    <!-- Android Add to Home Action Sheet -->    <!-- * Android Add to Home Action Sheet -->



    <!-- ========= JS Files =========  -->
    <!-- Bootstrap -->
    <script src="../static/assets/js/lib/bootstrap.bundle.min.js"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script src="../static/assets/js/plugins/splide/splide.min.js"></script>
    <!-- Base Js File -->
    <script src="../static/assets/js/base.js"></script>

    <script>
        // Add to Home with 2 seconds delay.
        AddtoHome("2000", "once");
    </script>

</body>

</html>
